@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #1a1a1a; /* Dark Background */
  --text-color: white;
  --primary-color: #f97316; /* Orange 500 */
  --secondary-color: #9a3412;
  --color-orange: #FF7F50;
  --color-beige: #F5DEB3;
  --color-brown: #8B4513;
  --color-text: #333333;
  --color-background: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.prose h1, .prose h2, .prose h3 {
  color: var(--color-brown);
}

.prose a {
  color: var(--color-orange);
}

.prose a:hover {
  color: var(--color-brown);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 