@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #1a1a1a; /* Dark Background */
  --text-color: white;
  --primary-color: #f97316; /* Orange 500 */
  --secondary-color: #9a3412;
  --color-orange: #FF7F50;
  --color-beige: #F5DEB3;
  --color-brown: #8B4513;
  --color-text: #333333;
  --color-background: #FFFFFF;
  --accent: #3498db; /* Örnek bir mavi renk */
  --accent-foreground: #ffffff; /* Beyaz metin */
}



body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 